@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Belanosima:wght@400;600;700&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #102436;
    --secondary: #385380;
}

header {
    background-color: #ffffff;
}


.mainlogo {
    text-align: center;
    margin: 0 auto;
}

.mainlogo img {
    max-width: 100%;
    height: auto;
    display: block;
}



body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background: linear-gradient(200deg, var(--primary), var(--secondary));
    overflow-y: auto;
}


p {
    /*Parrafo en General*/
    font-style: italic;
    text-align: center;
    color: white;
}

h1 {
    /*Titulo*/
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

h1 a {
    /*Titulo*/
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

h2 {
    /*Titulo Secundario*/
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/*NUEVA NAV PILL*/
.nav {
    justify-content: center;
}

.nav-pills {
    border-radius: 0.375rem;
    padding-bottom: 3px;
    gap: 1rem;
}


.nav-link {
    font-family: "Belanosima", sans-serif;
    text-transform: uppercase;
    color: #102436;

}

.nav-link:hover {
    border-radius: 0.30rem;
    box-shadow: 0 0 0 2px #102436;
    color: #102436;
}

.nav-pills .nav-link.active,
.nav-pills .show .nav-link {
    border-radius: 0.30rem;
    color: #fff;
    /*Color del Texto Activo*/
    background-color: #102436;
    /* Color Fondo Pill*/
}

/*FIN NUEVA NAV*/

/*BARRA DE NAVEGACION ANTERIOR*
nav ul {
    text-align: center;
    padding-bottom: 10px;
}

nav ul li {
    text-transform: uppercase;
    font-family: "Belanosima", sans-serif;
    display: inline;
    font-weight: 400;
}


nav ul li a {
    color: #152a3d;
    text-decoration: none;
}

nav ul li a:hover {
    border: solid #152a3d 4px;
    background-color: #152a3d;
    border-radius: 7px;
    border-width: 2px;
    color: white;
    text-decoration: none;
}

FIN BARRA DE NAVEGACION ANTERIOR*/

main::after {
    content: '';
}

.titulo-secundario {
    font-family: "Belanosima", sans-serif;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.seccion-sobrenosotros {
    text-align: center;
}

/*Inicio Acordion Sobre Nosotros*/
.accordion {
    margin-left: 10px;
    margin-right: 10px;
}

.accordion-button {
    justify-content: center !important;
    text-align: center !important;
    padding-left: 0 !important;
    padding-right: 2.5rem !important;
    position: relative;
    text-transform: uppercase !important;
    font-weight: bold;
}


.accordion-button::after {
    position: absolute;
    right: 1rem;
    /* posición de la flechita */

}

/*Fin Acordion Sobre Nosotros*/
.imagen1 {
    /*Imagen Central VER*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

/*Seccion Index Nuestro Trabajo*/

.trabajo1 {
    display: flex;
    justify-content: space-evenly;
}

.trabajo1 p {
    border: 0px solid black;
    align-content: center;
    padding-right: 50px;
    padding-left: 50px;
    width: 50%
}

.img-nuestrotrabajo1 {
    border: 1px solid black;
    height: 400px;
    width: 48%;
    margin-left: 20px;
}

.trabajo2 {
    display: flex;
    justify-content: space-evenly;
}

.trabajo2 p {
    border: 0px solid black;
    align-content: center;
    padding-right: 50px;
    padding-left: 50px;
    width: 50%
}

.img-nuestrotrabajo2 {
    border: 1px solid black;
    height: 400px;
    width: 48%;
    margin-right: 20px;
}

/*GRID DE CONTACTO*/
.grid-contacto {
    /*Formulario de Contacto*/
    text-transform: capitalize;
    color: white;
    display: grid;
    justify-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
    width: 99%;
    grid-template-columns: 1fr 200px 200px 1fr;
    grid-template-rows: repeat(4, 50px) 70px;
    margin: 0 auto;
}

.grid-contacto div {
    display: flex;
    flex-direction: column;
    align-self: flex-end
}

.item-nombre {
    grid-area: 1/2/1/2;
}

.item-apellido {
    grid-area: 1/3/1/3;
}

.item-empresa {
    grid-area: 2/2/2/2;
}

.item-rubro {
    grid-area: 2/3/2/3;
}

.item-localidad {
    grid-area: 3/2/3/2;
}

.item-ciudad {
    grid-area: 3/3/3/3;
}

.item-infocontacto {
    grid-area: 4/2/4/2;
}

.item-email {
    grid-area: 4/3/4/3;
}

.item-observaciones {
    grid-area: 5/2/5/4;
}

.item-boton {
    /*Boton de Contacto*/
    display: flex;
    justify-content: center;
}

/*FIN GRID DE CONTACTO*/

.seccion-clientes {
    /*Seccion de Clientes*/
    text-align: center;
}

.item-contacto {
    border: solid 2px white;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    background-color: transparent;
}


/*PAGINA SOBRE NOSOTROS*/

.pagina-nosotros p {
    text-align: justify;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

/*PAGINA NUESTRO TRABAJO*/

.imagenes-trabajo p {
    position: relative;
    text-align: justify;
    margin-left: 48%;
    float: none;
    margin-top: 120px;
    margin-bottom: 270px;
    margin-right: 30px;


}

.imagenes-trabajo img {
    position: static;
    padding-left: 5%;
    padding-top: 2%;
    height: 340px;
    width: 540px;
    float: left;
    clear: left;
}

/*LINK A CONTACTO*/
.bot-con {
    display: flex;
    justify-content: center;

}

/*PAGINA CLIENTES*/

.grid-imgclientes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 200px);
    text-align: center;
}

.grid-imgclientes img {
    height: 200px;
    width: 200px;
}

.cliente1 {
    grid-area: 1/1/1/1;
}

.cliente2 {

    grid-area: 1/3/1/3;
}

.cliente3 {
    grid-area: 1/5/1/5;
}

.cliente4 {
    grid-area: 2/2/2/2;
}

.cliente5 {
    grid-area: 2/4/2/4;
}

/*MEDIA QUERY*/
@media (max-width: 480px) {
    /*MQ INDEX*/

    .trabajo1,
    .trabajo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trabajo1 p,
    .trabajo2 p,
    .img-nuestrotrabajo1,
    .img-nuestrotrabajo2 {
        width: 90%;
        margin: 10px auto;
    }
}

@media(max-width: 1020px) {
    .grid-imgclientes {
        /*MQ CLIENTES*/
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 200px);
        row-gap: 20px;
    }

    .cliente1 {
        grid-area: 1/2/1/2;
    }

    .cliente2 {
        grid-area: 1/4/1/4;
    }

    .cliente3 {
        grid-area: 2/2/2/2;
    }

    .cliente4 {
        grid-area: 2/4/2/4;
    }

    .cliente5 {
        grid-area: 3/2/3/2;
    }
}

@media (max-width: 420px) {
    .grid-imgclientes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .grid-contacto {
        row-gap: 2px;
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 10px;

    }

    .grid-contacto div {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    .grid-contacto div label {
        display: none;
    }
}